:root{
    --color-primary: #fff;
    --color-secondary: #b52b52;
    --color-black: #000;
    --font-family: "Noto sans", sans-serif;
    --font-title: 40px;
    --font-desc: 16px;
    --font-titleweight: 800;
    --font-descweight: 400;
}